/**
 *------------------------------------------------------------------------------
 *
 *  Shared Button Modifiers
 *
 */

@mixin button-modifier-black() {
    &.button--black {
        @include state(default) {
            background-color: color('black');
            border-color: color('black');
            color: button(color manual 'white' default);
        }
    }
}

@mixin button-modifier-border($color) {
    &.button--border {
        &,
        &-small {
            @include state(default) {
                border-color: $color;
                color: $color;
            }
        }
    }
}
