/**
 *------------------------------------------------------------------------------
 *
 *  Embed Modal
 *
 */

.embed {
    &-content {
        background: color('black' 500);
        border-radius: border-radius();
        overflow: hidden;
        position: relative;
        width: 100%;
        z-index: 0;


        &--pdf {
            height: calc(100vh - #{container(spacer) * 2});
        }

        &--video {
            height: 0;
            padding-top: 56.25%; // 16:9
        }


        iframe {
            @include position(absolute, full);
        }
    }
}
