/**
 *------------------------------------------------------------------------------
 *
 *  Button Group
 *
 */

&-group {
    display: flex;
    flex-wrap: wrap;


    // Offset Container By Margin Used
    &.--margin-top {
        margin-top: (- app(margin-top default));

        @each $size in app(margin-top modifiers) {
            &-#{$size} {
                margin-top: (- app(margin-top $size));
            }
        }
    }


    &-item {
        @mixin css($size) {
            margin-right: app(margin-top $size);

            &.--width-full,
            &:last-child {
                margin-right: 0;
            }

            @each $breakpoint in app(breakpoints) {
                @include breakpoint(max-width, $breakpoint) {
                    &.--width-full-#{$breakpoint} {
                        &:not(:first-child) {
                            margin-top: app(margin-top small);
                        }
                    }

                    &.--width-full-#{$breakpoint},
                    &.--width-half-#{$breakpoint} {
                        margin-right: 0;
                    }
                }
            }

            @include breakpoint(max-width, app(half breakpoint)) {
                margin-right: 0;
            }
        }

        &.--margin-top {
            @include css(default);

            @each $size in app(margin-top modifiers) {
                &-#{$size} {
                    @include css($size);
                }
            }
        }
    }
}
