/**
 *------------------------------------------------------------------------------
 *
 *  Basic Image Icons
 *
 */

.image {
    @include size(image(size default));
    border-radius: border-radius();
    display: flex;
    position: relative;


    @each $size in image(size modifiers) {
        &--#{$size} {
            @include size(image(size $size));
        }
    }
} 
